#título {

    background-image: url("../img/Marca\ fondo\ baja@0\,75x.png");
    color: white;

    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;


}

h1 {

    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;

}